.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    margin-bottom: 43.44px;
    margin-top: 43.56px;
}

.header-link{
    font-family: Barlow;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    text-align: left;
    color:#83888F;
    text-decoration: none;
}

.header-box{
    display: flex;
    gap: 33px;
}

.container{
    width: 1320px;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-wrapper{
    background-image: url("./imges_1/Bitmap.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title{
    font-family: Fraunces  ;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    color: #FEFCF7;
}

.hero-text{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #FEFCF7;
}

.hero-box {
    padding-top: 137px;
    padding-bottom: 137px;
    padding-right: 750px;
    padding-left: 80px;
}

.coffee-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
}
.coffee-title{
    font-family: Fraunces  ;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    color:#333D4B ;     
}

.coffee-text{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #333D4B;
}

.hero{
    margin-bottom: 168px;
}

.cup-wrapper{
    background-color: #2C343E;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.cup-img{
    margin-top: -89px;
    margin-bottom: 88px;
    margin-right: 85px;
}

.coffee{
    padding-bottom: 240px;
}

.cup-title{
    font-family: Fraunces  ;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    color:#FEFCF7 ;
    
    margin-top: 88px;
    margin-left: 85px;
    padding-right: 51px;
    margin-bottom: 32px;
}

.cup-text{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #FEFCF7;
    
    padding-left: 85px;
    padding-bottom: 176px;
}



.country-title-2{
    font-family: Fraunces  ;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
    color: #83888F;
    margin-left: 135px;
}

.country-title{
    font-family: Fraunces  ;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    color: #333D4B;
}

.country-text{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #333D4B;
}

.country{
    padding-top: 168px;
    padding-left: 85px;
    padding-right: 230px; 
    padding-bottom: 168px;
}


.country-wrapper{
    
    display: flex;
    justify-content: center;
    gap: 85px;
    
}

.country-box{
    width: 285px;
}

.footer-wrapper{
    background-color: #2C343E;
    display: flex;
    justify-content: space-between;
    padding-left: 85px;
    padding-top: 47px;
    padding-bottom: 47px;
    padding-right: 85px;
    margin-bottom: 85px;
}

.footer-link{
    font-family: Barlow;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    text-align: left;
    color: #83888F;
    text-decoration: none; 
    gap: 33px;  
}

.footer-box{
    display: flex;
    align-items: center;
    gap: 33px;  
}
